<div class="nav">
	<a class="link" routerLink = "/">Home</a>
  <div class="dropdown">
    <button class="dropbtn">Projects <i class="fa fa-caret-down"></i></button>
    <div class="dropdown-content">
    	<a routerLink = "/larem">LAREM</a>
      <a routerLink = "/lvc">IAmLVC</a>
      <a routerLink = "/seniorDesign">Senior Project</a>
    </div>
  </div>
  <div class="contactInfo">
	<p><i class="fa fa-envelope"></i> Jasaitismatt@yahoo.com</p>
	<p><i class="fa fa-phone"></i> 310.850.1563</p>
  </div>
</div>