<div class="background">
	<div class="projectContainer">
		<img class="screenshot" src="../../assets/images/sculogo.png">
		<h2 class="projectTitle">Configurable Mesh Network</h2>
		<div class="techIcons">
			<img class="icon angular" src="../../assets/images/angular.png">
			<img class="icon" src="../../assets/images/nodejs.png">
			<img class="icon" src="../../assets/images/rpiLogo.webp">
			<img class="icon python" src="../../assets/images/python.png">
		</div>
		<h3 class="date">July 2018 - Present</h3>
		<div class="description">
			<div class="text">
				<h3 class="reflectionTopic">About</h3>
				<p>This is my senior design project for Santa Clara University. My partner and I are creating a configurable mesh network that is especially useful in situations where networking infrastructure is not available. These scenarios occur during disaster recovery, in rural areas and more.</p>
				<h3 class="reflectionTopic">Responsibilities</h3>
				<ul class="rList">
					<li>Creating REST API with node.js and ExpressJS</li>
					<li>Designing frontend application with Angular</li>
				</ul>
				<h3 class="reflectionTopic">Note</h3>
				<p>This project can be found on my <a href="https://github.com/MattyJ10/MeshNetworkApplication" target="_blank">GitHub</a>. It is still currently in production and will be finalized by May 2019.</p>
			</div>
		</div>
		<div class="features gray">
			<h1 class="header">What I'm Doing</h1>
			<div class="feature">
				<i class="fa fa-table" aria-hidden="true"></i>
				<div class="featureDesc text noMargin">
					<p>Designing the frontend with Angular to display network data in an organized manner. This enables the network admin to see the current topology of the network, connected devices, which devices are sending which data and more.</p>
				</div>
			</div>
			<div class="feature">
				<i class="fas fa-cogs"></i>
				<div class="featureDesc text noMargin">
					<p>Building tools to allow configuration of the network through the frontend. This allows the network admin to set the route packets take, prioritize certain IPs, move a connected user to a different mesh node and more.</p>
				</div>
			</div>
			<div class="feature">
				<i class="fas fa-wifi"></i>
				<div class="featureDesc text noMargin">
					<p>Created REST API to communicate with mesh nodes on the network. The nodes will then transfer files with network data to the server which will parse the data and send it back to the frontend.</p>
				</div>
			</div>
		</div>
		<div class="reflection">
			<h1 class="header">What I've Learned</h1>
			<div class="description">
				<div class="text margBot">
					<h3 class="reflectionTopic">New Technologies</h3>
					<p>This project has exposed me to technologies beyond my usual web development platform. As I continue to learn more about fullstack web development, I am working with new technologies and concepts such as raspberry pis, networking protocols and network topologies. I now have a solid understanding of what a mesh network is, how it works and what the benefits are.</p>
					<h3 class="reflectionTopic">Presenting Work</h3>
					<p>Our advisor has suggested we write a paper and submit it to the IEEE Conference this upcoming spring. Writing this paper provides insight into presenting our work in an organized manner, which is a valuable skill in the software engineering field.</p>
					<h3 class="reflectionTopic">Planning</h3>
					<p>This project has taught me how to plan projects and manage time. My partner and I created a detailed timeline of what should be done and by when. This has proven to be instrumental throughout the completion of this project.</p>
				</div>
			</div>
		</div>
	</div>
</div>

